.worth
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	padding: $rem * 70 $rem * 200 $rem * 150;
	box-sizing: border-box;
	background-color: $clr-gray;
	border: $rem * 1 solid $clr-gray-2;
	border-radius: $rem * 15;
	color: $clr-white;
	background-image: url('../img/decor-line.svg');
	background-size: contain;
	background-position: left bottom;
	background-repeat: no-repeat;
	@media (max-width: $media-1024)
	{
		flex-flow: column;
		padding: $rem * 40;
		border-radius: 0;
	}
	@media (max-width: $media-768)
	{
		padding: $rem * 25;
	}
	&__info
	{
		width: 50%;
		margin-right: $rem * 100;
		@media (max-width: $media-1024)
		{
			margin-right: 0;
			width: 100%;
			margin-bottom: $rem * 50;
		}
	}
	&__header
	{
		margin-bottom: $rem * 65;
		@media (max-width: $media-1024)
		{
			margin-bottom: $rem * 40;
		}
		@media (max-width: $media-768)
		{
			margin-bottom: $rem * 30;
		}
		&-title
		{
			position: relative;
			font-family: $font-main-medium;
			font-size: $rem * 55;
			line-height: $rem * 55;
			margin-bottom: $rem * 30;
			@media (max-width: $media-1024)
			{
				font-size: $rem * 33;
				line-height: $rem * 33;
				margin-bottom: $rem * 15;
			}
			@media (max-width: $media-768)
			{
				font-size: $rem * 24;
				line-height: $rem * 24;
			}
			&:after
			{
				content: '';
				position: absolute;
				width: $rem * 18;
				height: $rem * 18;
				background-image: url('../img/sprite.svg#i-heart');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				margin-left: $rem * 10;
				@media (max-width: $media-1024)
				{
					width: $rem * 12;
					height: $rem * 12;
				}
			}
		}
		&-description
		{
			font-family: $font-main-light;
			font-size: $rem * 22;
			line-height: $rem * 24;
			color: $clr-gray-3;
			max-width: $rem * 520;
			@media (max-width: $media-1024)
			{
				font-size: $rem * 18;
				line-height: $rem * 20;
			}
			@media (max-width: $media-768)
			{
				font-size: $rem * 15;
			}
			span
			{
				font-family: $font-main-medium;
			}
		}
	}
	&__quote
	{
		@media (max-width: $media-1024)
		{
			display: flex;
			align-items: center;
		}
		&-img
		{
			position: absolute;
			left: $rem * 40;
			bottom: 0;
			width: $rem * 250;
			@media (max-width: $media-1024)
			{
				position: static;
				width: $rem * 150;
			}
			@media (max-width: $media-768)
			{
				display: none;
			}
		}
		&-main
		{
			position: relative;
			padding-left: $rem * 125;
			max-width: $rem * 515;
			@media (max-width: $media-1024)
			{
				max-width: 100%;
				padding-left: $rem * 75;
			}
			@media (max-width: $media-768)
			{
				padding-left: $rem * 50;
			}
			&::before
			{
				content: '';
				position: absolute;
				top: 0;
				left: $rem * 25;
				width: $rem * 70;
				height: $rem * 70;
				background-image: url('../img/sprite.svg#i-quote');
				background-size: contain;
				background-position: left bottom;
				background-repeat: no-repeat;
				@media (max-width: $media-1024)
				{
					width: $rem * 25;
					height: $rem * 25;
				}
				@media (max-width: $media-768)
				{
					left: 0;
				}
			}
			&-text
			{
				font-size: $rem * 30;
				line-height: $rem * 33;
				margin-bottom: $rem * 25;
				@media (max-width: $media-1024)
				{
					font-size: $rem * 20;
					line-height: $rem * 27;
					margin-bottom: $rem * 15;
				}
				@media (max-width: $media-768)
				{
					font-size: $rem * 18;
					line-height: $rem * 20;
					margin-bottom: $rem * 10;
				}
			}
			&-author
			{
				font-size: $rem * 18;
				line-height: $rem * 23;
				margin-bottom: $rem * 25;
				color: $clr-theme;
				@media (max-width: $media-1024)
				{
					font-size: $rem * 14;
					line-height: $rem * 18;
					margin-bottom: $rem * 20;
				}
			}
			&-btn
			{
				@media (max-width: $media-768)
				{
					display: block;
					width: calc(100% + ($rem * 50));
					margin-left: $rem * -50;
				}
			}
		}
	}
	&__list
	{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: $rem * 10;
		max-width: $rem * 520;
		@media (max-width: $media-1024)
		{
			max-width: none;
			width: 100%;
		}
		@media (max-width: $media-768)
		{

		}
		&-item
		{
			width: calc(50% - ($rem * 5));
			position: relative;
			border: $rem * 1 solid $clr-gray-2;
			border-radius: $rem * 15;
			padding: $rem * 80 $rem * 30 $rem * 30;
			box-sizing: border-box;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(6)
			{
				border: $rem * 1 solid $clr-gray-4;
				background-color: $clr-gray-4;
			}
			@media (max-width: $media-1024)
			{
				width: calc(25% - ($rem * 10));
				padding: $rem * 70 $rem * 20 $rem * 20;
				&:nth-child(1)
				{
					order: 1;
				}
				&:nth-child(2)
				{
					order: 2;
				}
				&:nth-child(5)
				{
					order: 3;
				}
				&:nth-child(6)
				{
					order: 4;
				}
				&:nth-child(3)
				{
					order: 5;
				}
				&:nth-child(4)
				{
					order: 6;
				}
				&:nth-child(7)
				{
					order: 7;
				}
				&:nth-child(8)
				{
					order: 8;
				}
			}
			@media (max-width: $media-768)
			{
				width: calc(50% - ($rem * 5));
				&:nth-child(1)
				{
					order: 1;
				}
				&:nth-child(2)
				{
					order: 2;
				}
				&:nth-child(3)
				{
					order: 3;
				}
				&:nth-child(4)
				{
					order: 4;
				}
				&:nth-child(5)
				{
					order: 5;
				}
				&:nth-child(6)
				{
					order: 6;
				}
				&:nth-child(7)
				{
					order: 7;
				}
				&:nth-child(8)
				{
					order: 8;
				}
			}
			&-icon
			{
				position: absolute;
				top: $rem * 15;
				right: $rem * 30;
				width: $rem * 60;
				@media (max-width: $media-1024)
				{
					width: $rem * 45;
				}
			}
			&-text
			{
				font-size: $rem * 20;
				line-height: $rem * 22;
				max-width: $rem * 150;
				@media (max-width: $media-1024)
				{
					font-size: $rem * 14;
					line-height: $rem * 15;
				}
			}
			&-note
			{
				font-size: $rem * 12;
				line-height: $rem * 14;
				color: $clr-gray-5;
				margin-top: $rem * 10;
				@media (max-width: $media-768)
				{
					font-size: $rem * 10;
					line-height: $rem * 12;
				}
			}
		}
	}
}
