.wrap
	.worth
		.worth__info
			.worth__header
				h2.worth__header-title Наши ценности
				.worth__header-description В MPSTATS #[span нет жесткой иерархической] структуры и бюрократии.
			.worth__quote
				img.worth__quote-img(src="img/pict-main.png", alt="")
				.worth__quote-main
					.worth__quote-main-text Не имеет смысла нанимать толковых людей, а затем рассказать им, что делать; мы нанимаем умных людей, чтобы они могли рассказать нам, что делать
					.worth__quote-main-author Стив Джобс
					a.worth__quote-main-btn.btn(href="#") Я могу подсказать!
		ul.worth__list
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-1", alt="")
				.worth__list-item-text Любовь и уважение к людям
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-2", alt="")
				.worth__list-item-text Честность, порядочность
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-3", alt="")
				.worth__list-item-text Искренность
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-4", alt="")
				.worth__list-item-text Лидерство
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-5", alt="")
				.worth__list-item-text Желание упрощать мир
				.worth__list-item-note и создавать продукт, доступный каждому
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-6", alt="")
				.worth__list-item-text Дерзость и вызов
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-7", alt="")
				.worth__list-item-text Юмор
			li.worth__list-item
				img.worth__list-item-icon(src="img/sprite.svg#i-worth-8", alt="")
				.worth__list-item-text Любознательность идейность
