@font-face {
	font-family: 'SFCompactDisplay-Light';
	src: url('../fonts/SFCompactDisplay/SFCompactDisplay-Light.eot');
	src: url('../fonts/SFCompactDisplay/SFCompactDisplay-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Light.svg#SFCompactDisplay-Light') format('svg'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Light.ttf') format('truetype'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Light.woff') format('woff'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactDisplay-Regular';
	src: url('../fonts/SFCompactDisplay/SFCompactDisplay-Regular.eot');
	src: url('../fonts/SFCompactDisplay/SFCompactDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular') format('svg'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Regular.ttf') format('truetype'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Regular.woff') format('woff'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFCompactDisplay-Medium';
	src: url('../fonts/SFCompactDisplay/SFCompactDisplay-Medium.eot');
	src: url('../fonts/SFCompactDisplay/SFCompactDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium') format('svg'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Medium.ttf') format('truetype'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Medium.woff') format('woff'),
		 url('../fonts/SFCompactDisplay/SFCompactDisplay-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
